<div class="col-md-6">
  <div class="panel panel-default" id="list_div">
    <div class="panel-heading">
      <i class="fa fa-list fa-fw"></i> Listas
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <ul  class="nav nav-pills">
        <li>
          <a  href="#books" data-toggle="tab">Livros</a>
        </li>
        <li><a href="#pages" data-toggle="tab">Páginas</a>
        </li>
        <li><a href="#graph" data-toggle="tab">Gráfico</a>
        </li>
      </ul>

      <div class="tab-content clearfix">
        <div class="tab-pane active" id="books">
          <div class="list_div_body">
            <% @list.each do |l| %>
            <div class="list-group-item nav">
              <i class="fa fa-angle-double-right fa-xs"></i><%= " #{l[0]}" %>
              <span class="pull-right text-muted small"><em><%= "#{l[1]} livros" %></em>
              </span>
            </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="pages">
          <div class="list_div_body">
            <% @list.each do |l| %>
            <div class="list-group-item nav">
              <i class="fa fa-angle-double-right fa-xs"></i><%= " #{l[0]}" %>
              <span class="pull-right text-muted small"><em><%= "#{List.count_pages(l[0])} páginas" %></em>
              </span>
            </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="graph"></div>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
</div>