<div class="col-lg-3 col-md-6">
  <div class="panel panel-red">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="fa fa-angle-down fa-5x"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge">
            <% if current_user.books.empty? || @max_min[:small].nil? %>
              0
            <% else %>
              <%= @max_min[:small].last %>
            <% end %>
          </div>
          <div><%= t('labels.pages') %></div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a href="#" data-toggle="collapse" data-target="#smaller">
        <span class="pull-left"><%= t('labels.small') %></span>
        <span class="pull-right" id="iconS">
          <i class="fa fa-arrow-circle-down"></i>
        </span>
        <div class="clearfix"></div>
      </a>
      <div id="smaller" class="collapse"><small><%= @max_min[:small][0] %></small></div>
    </div>
  </div>
</div>
