  <div class="row">
      <h1 class="page-header">Editoras</h1>
  </div>

    <div class="row">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Qtd de livros</th>
            </tr>
          </thead>
          <tbody>
            <% @editors.each do |editor| %>
            <tr>
              <td><%= editor.name %></td>
              <td style="width: 150px"><%= editor.books_count %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  <hr>

  <!-- Pagination -->
  <div class="row">
    <div class="text-center">
      <%= paginate @editors %>
    </div>
  </div>
</div>
