<div class="container-fluid">
  <div class="row justify-content-center">
    <hr>
    <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-home", style: "position: absolute"; %>
  </div>
</div>