<div class="navbar-default sidebar" role="navigation" id="sidebar">
    <ul class="nav" id="side-menu">
      <li>
        <%= link_to admin_users_path do %>
        <i class="fa fa-users fa-fw"></i> <%= User.model_name.human(count: 2) %>
        <% end %>
      </li>
    </ul>
  <!-- /.sidebar-collapse -->
</div>
