<div class="row">
    <h1 class="page-header">Livros
      <small>Todos</small>
    </h1>
</div>

<% @books.in_groups_of(4, false).each do |group| %>
  <div class="row">
    <% group.each do |book| %>
      <div class="col-md-3 home-item">
        <% if book.image.attached? %>
          <%= image_tag book.image, class:"img-responsive" %>
        <% end %>
        <%= book.title %>
      </div>
    <% end %>
  </div>
<% end %>

<hr>

<!-- Pagination -->
<div class="row">
  <div class="text-center">
    <%= paginate @books %>
  </div>
</div>