<div class="panel panel-default" style="width: 97%;">
  <div class="panel-heading">
    <i class="fa fa-bar-chart-o fa-fw"></i> <%= t('labels.book_by_year') %>
  </div>
  <div class="panel-body" id="graph">
      <div id="bargraph"></div>
  </div>
</div>
