/*
 *= require bootstrap
 *= require font-awesome
 *= require animate-css
 *= require multi-select
 *= require bootstrap_sb_admin_base_v2
 *= require home
*/

a:hover{
  background: none;
  text-decoration: none;
}
